@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
.montserrat {
  font-family: 'Montserrat', sans-serif;
}
.lato {
  font-family: 'Lato', sans-serif;
}
.scribble {
  font-family: 'Give You Glory', cursive;
}
.quicksand {
  font-family: 'Quicksand', sans-serif;
}
.marker {
  font-family: 'Permanent Marker', cursive;
}
.bangers {
  font-family: 'Bangers', cursive;
}
.container-boxshadow {
  -webkit-box-shadow: -4px -4px 23px 4px #242424;
  -moz-box-shadow: -4px -4px 23px 4px #242424;
  box-shadow: -4px -4px 23px 4px #242424;
}
.blue {
  color: #4c96d7;
}
.green {
  color: #73d14c;
}
html {
  height: 85%;
}
body {
  background-color: #333333;
}
#root {
  height: 100%;
}
.SL-height-100 {
  height: 100%;
}
body {
  height: 100%;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.site-container {
  max-width: 1440px;
  margin: 0 auto;
}
.sl-align-text-right {
  text-align: right;
}
.bold {
  font-weight: 700;
}
.carousel-caption {
  top: 4em;
  text-align: center;
  background-color: rgba(65, 65, 65, 0.7);
  border-radius: 10px;
}
.carousel-caption h1 {
  font-size: 6em;
  color: #4c96d7;
  font-weight: bold;
  margin-bottom: 0.8em;
}
.carousel-caption h1:before {
  content: "Days Hours Mins Secs";
  position: absolute;
  height: 5px;
  left: 0;
  top: 29%;
  width: 100%;
  font-size: 41px;
  color: #73d14c;
}
.timer {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  font-weight: bold;
}
.timer-time {
  font-size: 6em;
  color: #4c96d7;
  padding: 0 0.3em;
}
.timer-text {
  color: #73d14c;
  font-size: 2em;
  position: relative;
  top: -20px;
}
.timer-tagline {
  padding: 0.5em 0;
  color: white;
}
.body {
  background: #333333;
}
.loading--text {
  display: flex;
  flex-direction: inherit;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 3em;
  color: black;
  font-weight: bold;
  background: linear-gradient(to right, #4c96d7 0%, #73d14c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2 {
  font-size: 2.5em;
  width: fit-content;
  color: black;
  font-weight: bold;
  background: linear-gradient(to right, #4c96d7 0%, #73d14c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h3 {
  font-size: 2em;
  width: fit-content;
  color: black;
  font-weight: bold;
  background: linear-gradient(to right, #4c96d7 0%, #73d14c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h4 {
  font-size: 1.5em;
  width: fit-content;
  color: black;
  font-weight: bold;
  background: linear-gradient(to right, #4c96d7 0%, #73d14c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h5 {
  font-size: 1em;
  width: fit-content;
  color: black;
  font-weight: bold;
  background: linear-gradient(to right, #4c96d7 0%, #73d14c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sl-checkbox + label:before {
  background: #ffffff;
  border: 1px solid #7a7a7a;
  outline: 0;
}
.sl-checkbox:checked + label:before {
  background: #4c96d7;
  border-color: #73d14c;
}
.sl-radio:checked + label:before {
  background: #4c96d7;
}
.sl-input input {
  border-radius: 5px;
  padding: 0.5em;
  border: 1px solid #4c96d7;
  height: 40px;
  width: 100%;
  background: #e5f0f9;
}
.sl-box-inputs .sl-option-input {
  display: block;
}
.sl-box-inputs .sl-option-input input {
  display: none;
}
.sl-box-inputs .sl-checkboxes .sl-checkbox:checked + label:before {
  content: '\f00c';
  font-weight: bold;
  font-family: 'Font Awesome 5 free';
  background: #ffffff;
  color: #73d14c;
  line-height: 1.2em;
  padding: 0;
}
.sl-box-inputs .sl-checkboxes label {
  display: flex;
  align-items: center;
}
.sl-box-inputs .sl-checkboxes label:before {
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid #333333;
  margin-right: 0.5em;
}
.sl-box-inputs .sl-radio .sl-radio:checked + label:before {
  color: #73d14c;
  content: '\f111';
  font-weight: bold;
  font-family: 'Font Awesome 5 free';
  background: white;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.sl-box-inputs .sl-radio label {
  display: flex;
  align-items: center;
}
.sl-box-inputs .sl-radio label:before {
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid #333333;
  margin-right: 0.5em;
  border-radius: 50%;
  font-size: 0.5em;
}
.sl-select {
  position: relative;
}
.sl-select select {
  border-radius: 5px;
  padding: 0.5em;
  border: 1px solid #4c96d7;
  height: 40px;
  width: 100%;
  background: #e5f0f9;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.sl-select select::-ms-expand {
  display: none;
}
.sl-select:after {
  content: "\f078";
  font-family: "Font Awesome\ 5 Free";
  font-weight: 900;
  color: #4c96d7;
  position: absolute;
  top: -4px;
  right: 5%;
  pointer-events: none;
}
.sl-inputspinner--minus {
  border: 0;
  background: 0 0;
  padding: 0;
}
.sl-inputspinner__input {
  border-radius: 5px;
  border: 1px solid #4c96d7;
  text-align: center;
  width: 40px;
  height: 40px;
  background: #e5f0f9;
}
.sl-inputspinner--plus {
  border: 0;
  background: 0 0;
  padding: 0;
}
.colourpalette .row {
  margin-top: 2em;
}
.colourpalette .colour-card__box {
  border: 1px solid #7a7a7a;
  border-radius: 25px;
}
.colourpalette .colour-card__head {
  display: block;
  border-bottom: 1px solid #7a7a7a;
  padding: 2em;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.colourpalette .colour-card__head--colour-primary {
  background: #4c96d7;
}
.colourpalette .colour-card__head--colour-primary__hover {
  background: #1473c7;
}
.colourpalette .colour-card__head--colour-secondary {
  background: #73d14c;
}
.colourpalette .colour-card__head--colour-secondary__hover {
  background: #90dc71;
}
.colourpalette .colour-card__head--colour--text-color {
  background: #7a7a7a;
}
.colourpalette .colour-card__head--colour--background-color {
  background: #333333;
}
.colourpalette .colour-card__head--colour--background-color__blue {
  background: #e5f0f9;
}
.colourpalette .colour-card__head--colour--background-color__green {
  background: #e2f4db;
}
.colourpalette p {
  padding: 1em;
}
.colourpalette__title {
  border-radius: 10%;
}
.colourpalette__title--colour-primary em {
  color: #4c96d7;
}
.colourpalette__title--colour-primary em__hover {
  color: #1473c7;
}
.colourpalette__title--colour-secondary em {
  color: #73d14c;
}
.colourpalette__title--colour--text-color em {
  color: #7a7a7a;
}
.colourpalette__title--colour--background-color em {
  color: #333333;
}
.breadcrumbs {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 3rem 0 6rem;
}
.breadcrumbs li.crumb {
  position: relative;
  width: 25%;
  text-align: center;
  list-style-type: none;
}
.breadcrumbs li.crumb:after,
.breadcrumbs li.crumb:before {
  display: inline-block;
  content: ' ';
  position: absolute;
  top: 75%;
  left: 0;
  width: 50%;
  background: #4c96d7;
  height: 0.4rem;
  transform: translateY(-50%);
  z-index: 1;
}
.breadcrumbs li.crumb:after {
  left: 50%;
}
.breadcrumbs li.crumb:first-of-type:before {
  display: none;
}
.breadcrumbs li.crumb:last-of-type:after {
  display: none;
}
.breadcrumbs li.crumb span {
  position: relative;
  top: 2rem;
  padding-top: 2rem;
  color: white;
}
.breadcrumbs li.crumb span:before {
  outline: none;
}
.breadcrumbs li.crumb--past span:after,
.breadcrumbs li.crumb--past span:before {
  position: absolute;
  content: ' ';
  display: inline-block;
  margin: 0 auto;
}
.breadcrumbs li.crumb--past span:before {
  width: 1.6rem;
  height: 1.6rem;
  left: 50%;
  transform: translateX(-50%);
  top: 0.3rem;
  background: #4c96d7;
  z-index: 2;
  border-radius: 50%;
}
.breadcrumbs li.crumb--past span:after {
  display: none;
}
.breadcrumbs li.crumb--active:before {
  background: #4c96d7;
}
.breadcrumbs li.crumb--active:after {
  background: #73d14c;
}
.breadcrumbs li.crumb--active span:after,
.breadcrumbs li.crumb--active span:before {
  position: absolute;
  content: ' ';
  display: inline-block;
  margin: 0 auto;
}
.breadcrumbs li.crumb--active span:before {
  width: 1.6rem;
  height: 1.6rem;
  left: 50%;
  transform: translateX(-50%);
  top: 0.3rem;
  background: #73d14c;
  z-index: 2;
  border-radius: 50%;
}
.breadcrumbs li.crumb--active span:after {
  width: 0.6rem;
  height: 0.6rem;
  left: 50%;
  transform: translateX(-50%);
  top: 0.8rem;
  background: #73d14c;
  z-index: 3;
  border-radius: 50%;
}
.breadcrumbs li.crumb--next:after,
.breadcrumbs li.crumb--next:before {
  background: #73d14c;
}
.breadcrumbs li.crumb--next span:after,
.breadcrumbs li.crumb--next span:before {
  position: absolute;
  content: ' ';
  display: inline-block;
  margin: 0 auto;
}
.breadcrumbs li.crumb--next span:before {
  width: 1.6rem;
  height: 1.6rem;
  left: 50%;
  transform: translateX(-50%);
  top: 0.3rem;
  background: #73d14c;
  z-index: 2;
  border-radius: 50%;
}
.breadcrumbs li.crumb--next span:after {
  width: 0.6rem;
  height: 0.6rem;
  left: 50%;
  transform: translateX(-50%);
  top: 0.8rem;
  background: #ffffff;
  z-index: 3;
  border-radius: 50%;
}
.sl-btn {
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 0.5em 1em;
  color: white;
  margin: 0.5em;
}
.sl-btn--primary {
  background: #4c96d7;
  outline: none;
}
.sl-btn--primary:hover {
  background: #1473c7;
}
.sl-btn--secondary {
  background: #73d14c;
}
.sl-btn--secondary:hover {
  background: #90dc71;
}
.sl-btn--tertiary {
  background: #7a7a7a;
  color: #ffffff;
}
.sl-btn--disabled {
  background: #7a7a7a;
  cursor: not-allowed;
}
.SL-header-background {
  position: relative;
  background: #414141;
  padding-bottom: 2em;
  padding-top: 0.5em;
  /* Old browsers */
  background: -moz- linear-gradient(to bottom, rgba(65, 65, 65, 0.9), rgba(24, 24, 24, 0.9));
  /* FF3.6-15 */
  background: -webkit-linear-gradient(to bottom, rgba(65, 65, 65, 0.9), rgba(24, 24, 24, 0.9));
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(65, 65, 65, 0.9), rgba(24, 24, 24, 0.9));
  position: fixed;
  width: 100%;
  z-index: 10;
  -webkit-box-shadow: -4px -4px 23px 4px #242424;
  -moz-box-shadow: -4px -4px 23px 4px #242424;
  box-shadow: -4px -4px 23px 4px #242424;
}
.SL-header-background:before {
  content: "";
  background-color: #4c96d7;
  position: absolute;
  height: 5px;
  left: 0;
  bottom: 0;
  width: 100%;
}
.SL-header-background:after {
  content: "";
  background-color: #73d14c;
  position: absolute;
  height: 5px;
  left: 0;
  bottom: 10px;
  width: 100%;
}
.SL-header-background .img-logo {
  height: 35px;
}
.SL-header-background .img-logo:hover {
  transform: scale(1.1);
}
.SL-header-background .row {
  display: flex;
  align-items: center;
}
.SL-header-background .nav-item {
  color: white;
}
.SL-header-background .nav-item a {
  color: white;
}
.SL-header-background .nav-item a:hover {
  font-weight: bold;
}
.SL-header-background .nav-item ul {
  display: none;
}
.SL-header-background .nav-item .basket-count {
  color: white;
  padding: 0;
  font-size: 1em;
  position: absolute;
  top: 5px;
  width: 20px;
  height: 20px;
  background: #73d14c;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  margin-right: 81px;
  line-height: 1.4em;
  font-family: 'Give You Glory', cursive;
}
.SL-header-background .nav-item:hover ul {
  margin-left: 1em;
  width: 120px;
  display: block;
  position: absolute;
  z-index: 20;
  list-style-type: none;
  background: linear-gradient(to bottom, rgba(65, 65, 65, 0.9), rgba(24, 24, 24, 0.9));
  padding: 0 0 0 0;
  border-radius: 10px;
  text-align: center;
}
.SL-header-background .nav-item:hover ul a {
  padding: 0.5em;
}
.SL-header-background .nav-item:hover ul a:first-child {
  border-bottom: 1px solid #73d14c;
}
.SL-header-background .nav-item:hover ul a:hover {
  font-weight: bold;
}
.SL-footer-background {
  padding-top: 3em;
  position: relative;
  background: #414141;
  /* Old browsers */
  background: -moz-linear-gradient(bottom, #414141 0%, #545454 0%, #181818 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(bottom, #414141 0%, #545454 0%, #181818 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #414141 0%, #545454 0%, #181818 100%);
  color: #4c96d7;
}
.SL-footer-background:before {
  content: "";
  background-color: #4c96d7;
  position: absolute;
  height: 5px;
  left: 0;
  top: 0;
  width: 100%;
}
.SL-footer-background:after {
  content: "";
  background-color: #73d14c;
  position: absolute;
  height: 5px;
  left: 0;
  top: 10px;
  width: 100%;
}
.SL-footer-background img {
  max-width: 219px;
  max-height: 189px;
  width: auto;
  height: auto;
  margin-top: -2.1em;
  margin-bottom: 1em;
}
.SL-footer-background a {
  color: white;
}
.SL-footer-background a:hover {
  font-weight: bold;
  text-decoration: none;
}
.SL-footer-background .sl-footer-social-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}
.SL-footer-background .sl-footer-social-media .fab {
  font-size: 3em;
  color: white;
}
.SL-footer-background .sl-footer-social-media .fab:hover {
  cursor: pointer;
  background: linear-gradient(to right, #4c96d7 0%, #73d14c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.seatingplan--container {
  position: relative;
  height: 600px;
  margin: auto;
  width: 600px;
}
.seatingplan--container img {
  position: absolute;
  border-radius: 25%;
  border: 4px solid #73d14c;
  width: 600px;
}
.seatingplan--container--rowwrapper {
  position: absolute;
  left: 65px;
  top: 125px;
}
.seatingplan--container .row .seat {
  background: transparent;
  border: none;
  font-size: 1.4em;
  margin: 0.3em;
  width: 38px;
  height: 39px;
  background: #ffffff;
  border-radius: 50%;
}
.seatingplan--container .row .seat--avalible {
  border: 1px solid #73d14c;
  background-color: #e2f4db;
}
.seatingplan--container .row .seat--avalible:before {
  content: '\f234';
  font-weight: bold;
  font-family: 'Font Awesome 5 free';
  color: #73d14c;
  cursor: pointer;
}
.seatingplan--container .row .seat--unavalible {
  border: 1px solid #4c96d7;
  background-color: #e5f0f9;
  cursor: not-allowed;
}
.seatingplan--container .row .seat--unavalible:before {
  content: '\f406';
  font-weight: bold;
  font-family: 'Font Awesome 5 free';
  color: #4c96d7;
}
.seatingplan--container .row .seat--edit {
  border: 1px solid #7a7a7a;
}
.seatingplan--container .row .seat--edit:before {
  content: '\f4ff';
  font-weight: bold;
  font-family: 'Font Awesome 5 free';
  cursor: pointer;
  color: #7a7a7a;
}
.seatingplan--container .seatingplan--row-b {
  margin-top: 5em;
}
.seatingplan--container .seatingplan--row-c {
  margin-left: 5.5em;
  margin-top: -0.2em;
}
.seatingplan--container .seatingplan--row-d {
  margin-left: 5.5em;
  margin-top: 4.8em;
}
.seatingplan--container .seatingplan--container--legendmenu .seatingplan--container--legendrowwrapper {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1em;
  border-radius: 25px;
  width: 100px;
  border: 4px solid #73d14c;
  font-size: 0.8em;
  left: -16%;
  top: 23%;
  position: absolute;
}
.seatingplan--container .seatingplan--container--legendmenu .seatingplan--container--legendrowwrapper .col-lg-4 {
  margin-bottom: 0;
  display: block;
}
.seatingplan--container .seatingplan--container--legendmenu .seatingplan--container--legendrowwrapper .key {
  width: 100%;
}
.seatingplan--container .seatingplan--container--legendmenu .seatingplan--container--legendrowwrapper .seat {
  margin: auto;
  display: block;
}
.seatingplan--container .seatingplan--container--legendmenu .seatingplan--container--legendrowwrapper .seat--text {
  width: 100%;
  text-align: center;
}
.large-floorplan {
  position: relative;
  height: 647px;
  border: 2px dashed grey;
  border-radius: 15px;
  /* Tooltip text */
  /* Show the tooltip text when you mouse over the tooltip container */
}
.large-floorplan--image {
  text-align: center;
}
.large-floorplan--image img {
  width: 995px;
  opacity: 0;
}
.large-floorplan--areas {
  position: absolute;
  top: 0%;
  left: 4%;
  width: 100%;
}
.large-floorplan--areas .col-lg-7 {
  padding: 0 0 0 0;
}
.large-floorplan--block {
  padding: 2em 1em;
}
.large-floorplan--rows .seat {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}
.large-floorplan--rows .seat--avalible {
  border: 2px solid #73d14c;
  background-color: #e2f4db;
}
.large-floorplan--rows .seat--avalible:before {
  content: '\f234';
  font-weight: bold;
  font-family: 'Font Awesome 5 free';
  color: #73d14c;
  cursor: pointer;
  font-size: 0.9em;
}
.large-floorplan--rows .seat--avalible--maxlimitreached {
  border: 2px solid #73d14c;
  background-color: #e2f4db;
  cursor: not-allowed;
}
.large-floorplan--rows .seat--avalible--maxlimitreached:before {
  content: '\f234';
  font-weight: bold;
  font-family: 'Font Awesome 5 free';
  color: #73d14c;
  cursor: pointer;
  font-size: 0.9em;
  cursor: not-allowed;
}
.large-floorplan--rows .seat--taken {
  border: 2px solid #4c96d7;
  background-color: #e5f0f9;
  cursor: not-allowed;
}
.large-floorplan--rows .seat--taken:before {
  content: '\f406';
  font-weight: bold;
  font-family: 'Font Awesome 5 free';
  color: #4c96d7;
  font-size: 0.9em;
}
.large-floorplan--rows .seat--edit {
  border: 2px solid #7a7a7a;
  background-color: white;
}
.large-floorplan--rows .seat--edit:before {
  content: '\f4ff';
  font-weight: bold;
  font-family: 'Font Awesome 5 free';
  cursor: pointer;
  color: #7a7a7a;
  font-size: 0.9em;
}
.large-floorplan--row {
  margin-bottom: 10px;
}
.large-floorplan--row-admin {
  left: 40%;
  padding-left: 38%;
  padding-top: 40px;
}
.large-floorplan--sleeping-area-design {
  position: absolute;
  width: 90%;
  left: -7%;
  height: 377px;
  border: 2px dashed purple;
  border-radius: 5px;
  background-color: #E6E6FA;
  color: purple;
  top: 33px;
}
.large-floorplan--boardgames-area-design {
  position: absolute;
  bottom: -135px;
  height: 150px;
  left: -7%;
  border: 2px dashed #ffa500;
  border-radius: 5px;
  background: #ffe4b2;
  color: #ffa500;
  width: 90%;
}
.large-floorplan--console-corner-design {
  height: 60px;
  position: absolute;
  right: 13%;
  bottom: -135px;
  border: 2px dashed #ffa500;
  border-radius: 5px;
  background: #ffe4b2;
  color: #ffa500;
}
.large-floorplan--support {
  width: 260px;
  height: 80px;
  bottom: -134px;
  position: absolute;
  border: 2px dashed #ffff32;
  border-radius: 5px;
  left: 49px;
  background-color: #ffffe5;
  color: grey;
}
.large-floorplan .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  /* If you want dots under the hoverable text */
}
.large-floorplan .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
.large-floorplan .tooltip:hover .tooltiptext {
  visibility: visible;
}
.product--info {
  margin: 2em 0 0 0 ;
  color: white;
}
.product--info #falkirkMaplocation {
  border-radius: 5px;
  border: 2px solid #4c96d7;
  -webkit-box-shadow: 3px 1px 8px 2px rgba(51, 51, 51, 0.58);
  box-shadow: 3px 1px 8px 2px rgba(51, 51, 51, 0.58);
  height: 220px;
}
.accordion .row {
  display: flex;
  align-items: center;
}
.accordion .sl-product-gotopayment {
  margin-top: 1em;
}
.accordion .sl-product-gotopayment .sl-but--header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.accordion .sl-product-gotopayment .sl-button-contact {
  padding: 7px;
  color: white;
  text-decoration: underline;
}
.accordion .sl-product-gotopayment .sl-btn--primary {
  padding: 10px;
  font-size: 1em;
}
.accordion .sl-product-gotopayment .sl-btn--primary:hover {
  background: #1473c7;
  cursor: pointer;
}
.accordion .ticket--header {
  font-family: 'Give You Glory', cursive;
  font-size: 1.5em;
  border-bottom: 1px dashed;
  margin-bottom: 1em;
}
.accordion-vip {
  border: 2px solid #4c96d7;
  padding: 1em;
  background: linear-gradient(to bottom, #414141 0, #545454 0, #181818 100%);
  color: #4c96d7;
  border-radius: 5px;
  width: 100%;
}
.accordion-vip a {
  display: flex;
  justify-items: self-end;
  justify-content: space-between;
  width: 100%;
  color: #4c96d7;
  font-weight: bold;
}
.accordion .vip {
  margin: 1em;
  border: 2px solid #4c96d7;
  margin-top: 0;
  padding: 1em;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: linear-gradient(to bottom, #414141 0%, #545454 0%, #181818 100%);
  background-size: cover;
  color: white;
  width: auto;
}
.accordion-standard {
  border: 2px solid #73d14c;
  padding: 1em;
  color: #73d14c;
  border-radius: 5px;
  background: linear-gradient(to bottom, #414141 0, #545454 0, #181818 100%);
  width: 100%;
}
.accordion-standard a {
  display: flex;
  justify-items: self-end;
  justify-content: space-between;
  width: 100%;
  color: #73d14c;
  font-weight: bold;
}
.accordion .standard {
  margin: 1em;
  border: 2px solid #73d14c;
  margin-top: 0;
  padding: 1em;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: linear-gradient(to bottom, #414141 0%, #545454 0%, #181818 100%);
  color: white;
  width: auto;
}
.accordion .standard .sl-select {
  background: #e2f4db;
}
.accordion .standard .sl-select:after {
  color: #73d14c;
}
.accordion .buy {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5em;
  border-radius: 5px;
}
.accordion .buy--standardtickets {
  background: #e2f4db;
  border: 1px solid #73d14c;
}
.accordion .buy--standardtickets--payment {
  color: #73d14c;
}
.accordion .buy--viptickets {
  background: #e5f0f9;
  border: 1px solid #4c96d7;
}
.accordion .buy--viptickets--payment {
  color: #4c96d7;
}
#googleMap {
  border-radius: 10%;
  border: 2px solid #73d14c;
}
.SL-FAQS .accordion-standard {
  width: 100%;
}
.SL-FAQS .panel-title {
  border: 2px solid #73d14c;
  padding: 1em;
  border-radius: 5px;
  background: linear-gradient(to bottom, #414141 0, #545454 0, #181818 100%);
}
.SL-FAQS .panel-title a {
  color: #73d14c;
  text-decoration: none;
}
.SL-FAQS .panel-title a:before {
  float: right !important;
  font-family: FontAwesome;
  content: "\f068";
  padding-right: 5px;
}
.SL-FAQS .panel-title a.collapsed:before {
  float: right !important;
  content: "\f067";
}
.SL-FAQS .panel-body {
  margin: 1em;
  border: 2px solid #73d14c;
  margin-top: -0.5em;
  padding: 1em;
  border-top: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #e2f4db;
  color: black;
}
.sl--homepage--heroimage {
  background-image: url(/Images/ScotLAN_homepageimage.jpg);
  height: 822px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.sl--homepage--backgroundgradient {
  background: -moz-linear-gradient(180deg, rgba(115, 209, 76, 0.4) 0%, rgba(0, 0, 0, 0.53) 65%, rgba(76, 150, 215, 0.6) 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(76, 150, 215, 0.6)), color-stop(35%, rgba(0, 0, 0, 0.53)), color-stop(100%, rgba(115, 209, 76, 0.4)));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(180deg, rgba(115, 209, 76, 0.4) 0%, rgba(0, 0, 0, 0.53) 65%, rgba(76, 150, 215, 0.6) 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(180deg, rgba(115, 209, 76, 0.4) 0%, rgba(0, 0, 0, 0.53) 65%, rgba(76, 150, 215, 0.6) 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(180deg, rgba(115, 209, 76, 0.4) 0%, rgba(0, 0, 0, 0.53) 65%, rgba(76, 150, 215, 0.6) 100%);
  /* ie10+ */
  background: linear-gradient(270deg, rgba(115, 209, 76, 0.4) 0%, rgba(0, 0, 0, 0.53) 65%, rgba(76, 150, 215, 0.6) 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C96D7', endColorstr='#73D14C', GradientType=1);
  /* ie6-9 */
  height: 1000px;
  position: relative;
}
.sl--homepage--backgroundgradient .showmore {
  position: absolute;
  font-size: 3em;
  color: white;
  width: 100%;
  text-align: center;
  bottom: 0;
}
.sl--homepage--backgroundgradient .showmore:hover {
  background: -moz-linear-gradient(180deg, rgba(115, 209, 76, 0.6) 0%, rgba(0, 0, 0, 0.6) 65%, rgba(76, 150, 215, 0.6) 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(76, 150, 215, 0.6)), color-stop(35%, rgba(0, 0, 0, 0.53)), color-stop(100%, rgba(115, 209, 76, 0.4)));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(180deg, rgba(115, 209, 76, 0.4) 0%, rgba(0, 0, 0, 0.53) 65%, rgba(76, 150, 215, 0.6) 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(180deg, rgba(115, 209, 76, 0.4) 0%, rgba(0, 0, 0, 0.53) 65%, rgba(76, 150, 215, 0.6) 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(180deg, rgba(115, 209, 76, 0.4) 0%, rgba(0, 0, 0, 0.53) 65%, rgba(76, 150, 215, 0.6) 100%);
  /* ie10+ */
  background: linear-gradient(270deg, rgba(115, 209, 76, 0.4) 0%, rgba(0, 0, 0, 0.53) 65%, rgba(76, 150, 215, 0.6) 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4C96D7', endColorstr='#73D14C', GradientType=1);
  /* ie6-9 */
}
.sl--homepage--text {
  display: flex;
  flex-direction: column;
  top: 4em;
  text-align: center;
  background-color: rgba(65, 65, 65, 0.7);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  padding: 2em;
  top: 250px;
  -webkit-box-shadow: -4px -4px 23px 4px #242424;
  -moz-box-shadow: -4px -4px 23px 4px #242424;
  box-shadow: -4px -4px 23px 4px #242424;
}
.sl--homepage--text h4 {
  font-size: 4em;
  font-weight: bold;
  padding-bottom: 0.2em;
  -webkit-animation: blurFadeIn 0.2s ease-in backwards;
  -moz-animation: blurFadeIn 0.2s ease-in backwards;
  -ms-animation: blurFadeIn 0.2s ease-in backwards;
  animation: blurFadeIn 0.2s ease-in backwards;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sl--homepage--text h3 {
  color: white;
  margin-bottom: 0.8em;
  font-size: 3em;
  font-weight: bold;
  -webkit-animation: blurFadeIn 0.2s ease-in backwards;
  -moz-animation: blurFadeIn 0.2s ease-in backwards;
  -ms-animation: blurFadeIn 0.2s ease-in backwards;
  animation: blurFadeIn 0.2s ease-in backwards;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  animation-delay: 0.1s;
  font-family: 'Montserrat', sans-serif;
}
.sl--homepage--text button {
  font-size: 2em;
  margin-top: 1em;
}
.sl--homepage--text p {
  font-size: 1.5em;
  -webkit-animation: blurFadeIn 0.2s ease-in backwards;
  -moz-animation: blurFadeIn 0.2s ease-in backwards;
  -ms-animation: blurFadeIn 0.2s ease-in backwards;
  animation: blurFadeIn 0.2s ease-in backwards;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.keyboard-background {
  background-attachment: fixed;
  background-image: url(https://images.unsplash.com/photo-1523754346425-2f3e98dacb0d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-bottom: 4em;
  min-height: 100%;
}
.keyboard-background .container {
  background-color: rgba(65, 65, 65, 0.7);
  border-radius: 10px;
  padding: 2em;
  color: white;
  -webkit-box-shadow: -4px -4px 23px 4px #242424;
  -moz-box-shadow: -4px -4px 23px 4px #242424;
  box-shadow: -4px -4px 23px 4px #242424;
}
.section-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
  padding-top: 8em;
  padding-bottom: 3em;
}
.section-container-keyboard {
  background-color: rgba(65, 65, 65, 0.7);
  border-radius: 10px;
  padding: 2em;
  color: white;
}
.section-container-keyboard .panel-group .panel-heading a {
  margin-bottom: 1em;
  padding: 1em;
  border: 3px solid white;
  border-radius: 15px;
  background-color: rgba(63, 63, 63, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.section-container-keyboard .panel-group .panel-heading a:hover {
  cursor: pointer;
  font-weight: bold;
}
.panel-group .panel-heading a {
  margin-bottom: 1em;
  padding: 1em;
  border: 3px solid white;
  border-radius: 15px;
  background-color: rgba(63, 63, 63, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: white;
  width: 100%;
  position: relative;
  user-select: none;
}
.panel-group .panel-heading a:hover {
  cursor: pointer;
  font-weight: bold;
}
.panel-group .panel-heading a:before {
  position: absolute;
  display: block;
  content: '\f078';
  font-family: "Font Awesome\ 5 Free";
  font-weight: bold;
  right: 3%;
}
.panel-group .panel-body {
  padding: 0 1em 2em 1em;
}
.panel-group .panel-body a {
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.sl--sitecontainer--background__keyboard {
  background-image: url(https://images.unsplash.com/photo-1523754346425-2f3e98dacb0d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #cccccc;
  min-height: 100%;
  overflow: -webkit-paged-x;
  padding-top: 5em;
}
.sl--sitecontainer--background__keyboard .container {
  background-color: rgba(65, 65, 65, 0.7);
  border-radius: 10px;
  padding: 2em;
  margin-top: 3em;
  margin-bottom: 3em;
  color: white;
}
.text--align--right {
  width: 100%;
  text-align: right;
}
.modal-dialog {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 800px;
  max-width: 800px;
}
.modal-content {
  border: 3px solid #4c96d7;
  background: #414141;
  border-radius: 15px;
  padding: 1em;
}
.modal-body h4 {
  font-size: 1em;
  color: white;
  -webkit-text-fill-color: white;
}
.modal-body h3 {
  -webkit-text-fill-color: white;
  text-decoration: underline;
  font-size: 1em;
  margin-top: 2em;
  text-align: center;
  width: 100%;
}
.modal-body h3 a {
  text-decoration: underline;
  font-size: 1.5em;
}
.modal-body a {
  color: #73d14c;
  font-weight: 900;
  font-size: 1.5em;
}
.sl--partners--container img {
  width: 180px;
}
.sl--partners--container .gradient-line {
  width: 97%;
}
.sl--partners--container .col-md-5 {
  text-align: right;
}
.sl--partners--container .container {
  margin: 0 0 0 0;
}
.sl--partners--container .row {
  padding: 1em;
}
.sl--partners--container .partner-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  margin-top: 1em;
  align-items: center;
}
.sl--partners--container .partner-logo {
  text-align: right;
}
.sl--partners--header {
  width: 100%;
  text-align: center;
  margin-bottom: 2em;
}
.sl--partners--header h2 {
  margin: auto;
}
.sl-ourteam-container .container {
  margin: 0 0 0 0;
}
.sl-ourteam-container .product-heading {
  margin: auto;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
.sl-ourteam-container img {
  border-radius: 15px;
}
.sl-ourteam-container .col-lg-3 {
  text-align: center;
}
.sl-ourteam-container .wp-caption-text {
  font-size: 2.2em;
  width: fit-content;
  font-family: 'Give You Glory', cursive;
  background: linear-gradient(to right, #4c96d7 0%, #73d14c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sl-ourteam-container .social-icons {
  text-align: right;
  margin-right: 2em;
}
.sl-ourteam-container .fab,
.sl-ourteam-container .far {
  font-size: 1.8em;
  padding: 0 0.3em;
}
.sl-ourteam-container .fab:hover,
.sl-ourteam-container .far:hover {
  cursor: pointer;
  background: linear-gradient(to right, #4c96d7 0%, #73d14c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sl-ourteam-container a {
  color: white;
}
.sl-ourteam-container a:hover {
  text-decoration: none;
}
.sl-ourteam-container .row {
  position: relative;
  padding: 1em;
  display: flex;
  align-items: center;
}
.gradient-line {
  display: block;
  border: none;
  color: white;
  height: 3px;
  margin: auto;
  border-radius: 50%;
  width: 90%;
  background: black;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#4c96d7), to(#73d14c));
}
.sl-seatingplan-picker .container {
  margin: 0 0 0 0;
}
.large-floorplan--key {
  border: 1px solid grey;
  padding: 1em;
  margin: 1em;
  border-radius: 10px;
  position: relative;
  top: -19px;
}
.large-floorplan--key .seat--avalible {
  margin-left: 2em;
}
.static-modal--seatingplan .btn-primary {
  position: relative !important;
}
.static-modal--seatingplan .btn-default {
  position: absolute;
  top: 0;
  right: 0;
}
.SL-header-background .mobile-menu,
.SL-header-background .mobile-menu-close {
  background: none;
  border: none;
  width: fit-content;
  color: white;
  font-size: 2em;
}
.mobile-menu,
.mobile-menu-close,
.mobile-menu-logos {
  display: none;
}
@media only screen and (max-width: 768px) {
  .mobile-menu {
    display: flex;
  }
  .mobile-menu-logos {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 7rem;
  }
  .mobile-menu-expanded .mobile-menu-close {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  .mobile-menu-expanded .nav-pill {
    position: absolute;
    background: grey;
    height: fit-content;
    z-index: 1;
    top: 0;
    display: block;
    right: 0;
    width: 200px;
    list-style-type: none;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(65, 65, 65, 0.95)), to(#181818));
    background: -webkit-linear-gradient(top, rgba(65, 65, 65, 0.95), #181818);
    background: -o-linear-gradient(top, rgba(65, 65, 65, 0.95), #181818);
    background: linear-gradient(to bottom, rgba(65, 65, 65, 0.95), #181818);
    padding: 0 0 0 0;
    border-radius: 10px;
    text-align: center;
    overflow-x: hidden;
    transition: 0.5s;
  }
  .nav-pill {
    width: 0px;
    position: absolute;
    right: -100px;
  }
  .navbar-static-top {
    align-items: flex-end;
  }
  .nav-item-mobilehide {
    display: none;
  }
  .nav-item-myaccount {
    display: none;
  }
  .nav-link {
    position: relative;
  }
  .SL-header-background .row {
    DISPLAY: FLEX;
    flex-wrap: nowrap;
  }
  .SL-header-background .nav-link {
    position: relative;
  }
  .SL-header-background .nav-item ul {
    display: block;
    padding: 0 0 0 0;
  }
  .large-floorplan {
    height: 540px;
  }
  .large-floorplan--boardgames-area-design,
  .large-floorplan--sleeping-area-design,
  .large-floorplan--support,
  .large-floorplan--console-corner-design {
    display: none;
  }
}
@media only screen and (max-width: 425px) {
  .sl--homepage--text {
    top: 120px;
  }
  .section-container .large-floorplan {
    height: 540px;
  }
  .section-container .large-floorplan--areas {
    left: 8%;
  }
  .section-container .large-floorplan--rows {
    display: flex;
  }
  .section-container .large-floorplan--block {
    display: flex;
  }
  .section-container .large-floorplan--boardgames-area-design,
  .section-container .large-floorplan--sleeping-area-design,
  .section-container .large-floorplan--support,
  .section-container .large-floorplan--console-corner-design {
    display: none;
  }
  .sl--sitecontainer--background__keyboard .container {
    padding: 1rem;
  }
  .section-container-keyboard {
    padding: 1em;
  }
  .ribbon-wrapper {
    top: 80px !important;
  }
  .sl-products--container .col-md-6 {
    padding: 0 0 0 0;
    margin-bottom: 1em;
  }
  .sl-but--header {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
  }
  .product-heading {
    font-size: 2em;
  }
  .product-heading-tickets {
    margin-top: 1em;
    font-size: 2em;
  }
}
.sl-products--container .container {
  margin: 0 0 0 0;
  padding-bottom: 1em;
}
.sl-products--container .sl-product-viewseatingplan {
  color: white;
  text-decoration: underline;
  background: unset;
  border: none;
}
.sl-products--container .strike {
  position: relative;
  font-size: 0.9em;
}
.sl-products--container .strike:after {
  position: absolute;
  content: "";
  height: 1px;
  background-color: white;
  width: 39px;
  top: 9px;
  -webkit-transform: rotate(-32deg);
  -ms-transform: rotate(-32deg);
  transform: rotate(-30deg);
  left: -5px;
  opacity: 0.7;
}
.ribbon {
  position: absolute;
  right: 25px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#f70505 0%, #8f0808 100%);
  box-shadow: 0 3px 10px -5px #000000;
  position: absolute;
  top: 19px;
  right: -21px;
}
.ribbon span:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #8F0808;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}
.ribbon span:after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #8F0808;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}
.ribbon-red {
  right: 25px;
  top: -5px;
  width: 75px;
  height: 75px;
}
.ribbon-red span {
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  width: 100px;
  background: #79A70A;
  background: linear-gradient(#f70505 0%, #8f0808 100%);
  box-shadow: 0 3px 10px -5px #000000;
  top: 19px;
  right: -21px;
}
.ribbon-red span:before {
  position: absolute;
  left: 0px;
  top: 100%;
  border-left: 3px solid #8F0808;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}
.ribbon-red span:after {
  position: absolute;
  right: 0px;
  top: 100%;
  border-left: 3px solid transparent;
  border-right: 3px solid #8F0808;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}
.ribbon-green {
  right: 25px;
  top: -5px;
  width: 75px;
  height: 75px;
}
.ribbon-green span {
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  width: 100px;
  background: #79A70A;
  background: linear-gradient(#73d14c 0%, #90dc71 100%);
  box-shadow: 0 3px 10px -5px #000000;
  top: 19px;
  right: -21px;
}
.ribbon-green span:before {
  position: absolute;
  left: 0px;
  top: 100%;
  border-left: 3px solid #90DC71;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #90DC71;
}
.ribbon-green span:after {
  position: absolute;
  right: 0px;
  top: 100%;
  border-left: 3px solid transparent;
  border-right: 3px solid #90DC71;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #90DC71;
}
.ribbon-blue {
  right: 25px;
  top: -5px;
  width: 75px;
  height: 75px;
}
.ribbon-blue span {
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  width: 100px;
  background: #79A70A;
  background: linear-gradient(#4c96d7 0%, #1473c7 100%);
  box-shadow: 0 3px 10px -5px #000000;
  top: 19px;
  right: -21px;
}
.ribbon-blue span:before {
  position: absolute;
  left: 0px;
  top: 100%;
  border-left: 3px solid #1473C7;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1473C7;
}
.ribbon-blue span:after {
  position: absolute;
  right: 0px;
  top: 100%;
  border-left: 3px solid transparent;
  border-right: 3px solid #1473C7;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1473C7;
}
/* ribbon style */
.ribbon-wrapper {
  left: -2px;
  top: 44px;
  position: absolute;
}
.ribbon-front {
  background-color: #73d14c;
  height: 28px;
  width: 200px;
  position: relative;
  left: -10px;
  z-index: 2;
  line-height: 32px;
  padding-left: 1em;
}
.ribbon-front,
.ribbon-back-left,
.ribbon-back-right {
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
  -khtml-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
  -o-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.55);
}
.ribbon-edge-topleft,
.ribbon-edge-topright,
.ribbon-edge-bottomleft,
.ribbon-edge-bottomright {
  position: absolute;
  z-index: 1;
  border-style: solid;
  height: 0px;
  width: 0px;
}
.ribbon-edge-bottomleft,
.ribbon-edge-bottomright {
  top: 40px;
}
.ribbon-edge-topleft,
.ribbon-edge-bottomleft {
  left: -10px;
  border-color: transparent #90dc71 transparent transparent;
}
.ribbon-edge-topleft {
  top: -10px;
  border-width: 10px 10px 0 0;
}
.ribbon-edge-bottomleft {
  border-width: 0 10px 0px 0;
}
.ribbon-edge-topright,
.ribbon-edge-bottomright {
  left: 100px;
  border-color: transparent transparent transparent #90dc71;
}
.ribbon-edge-topright {
  top: 0px;
  border-width: 0px 0 0 0px;
}
.ribbon-edge-bottomright {
  border-width: 0 0 0px 0px;
}
.ribbon-back-left {
  position: absolute;
  top: -10px;
  left: -30px;
  width: 30px;
  height: 28px;
  background-color: #73d14c;
  z-index: 0;
}
.ribbon-back-right {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 0px;
  height: 40px;
  z-index: 0;
}
.ribbon-wrapper--blue .ribbon-front {
  background-color: #4c96d7;
}
.ribbon-wrapper--blue .ribbon-edge-topleft,
.ribbon-wrapper--blue .ribbon-edge-bottomleft {
  border-color: transparent #1473c7 transparent transparent;
}
.ribbon-wrapper--blue .ribbon-edge-topright,
.ribbon-wrapper--blue .ribbon-edge-bottomright {
  border-color: transparent transparent transparent #1473c7;
}
.ribbon-wrapper--blue .ribbon-back-left {
  background-color: #4c96d7;
  z-index: 0;
}
.static-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 997;
}
.static-modal .modal-footer button {
  position: absolute;
  top: 0;
}
.static-modal .btn-default {
  background: unset;
  color: #73d14c;
  font-size: 2.5em;
  padding-top: 1rem;
  cursor: pointer;
}
.sl-orders-container {
  margin-bottom: 3em;
  line-height: 3em;
}
.sl-orders-container h3 {
  margin-bottom: 1rem;
}
.sl-orders-container span h4 {
  display: inline-block;
}
.sl-orders-container a {
  color: white;
  text-decoration: underline;
}
.sl-orders-container a:hover {
  font-weight: bold;
  cursor: pointer;
}
.sl-orders-container .order-row {
  display: flex;
}
.sl-order-container .container {
  margin: 0 0 0 0;
}
@-webkit-keyframes blurFadeIn {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    -webkit-transform: scale(1.3);
  }
  50% {
    opacity: 0.5;
    text-shadow: 0px 0px 10px #fff;
    -webkit-transform: scale(1.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    -webkit-transform: scale(1);
  }
}
.tooltip-active {
  display: block !important;
  color: white;
  width: 4000px !important;
}
tooltip {
  width: 1000px;
}
.panel-group {
  width: 100%;
}
.panel-heading {
  width: 100%;
}
.panel-title {
  width: 100%;
  color: white;
  -webkit-text-fill-color: white;
}
.sl-login-container {
  width: 100%;
  max-width: 400px;
  margin: auto;
}
.sl-login-container .sl-signup-buttons {
  text-align: center;
  margin-top: 2em;
}
.sl-login-container .sl-signup-buttons a {
  color: white;
}
.sl-login-container .sl-signup-buttons a:hover {
  font-weight: bold;
  text-decoration: none;
}
.sl-login-container .sl-signup-header {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
  text-align: center;
}
.sl-login-container .Signup {
  padding: 0 0 0 0;
  text-align: center;
}
.sl-login-container .Signup h3 {
  margin-top: 1rem;
  width: 100%;
  -webkit-text-fill-color: white;
  font-size: 1.5em;
  font-weight: 100;
}
.sl-login-container--forgot .ResetPassword {
  padding: 0 0 0 0;
}
.sl-login-container--forgot h3 {
  margin-bottom: 2rem;
  width: 100%;
  -webkit-text-fill-color: white;
  font-size: 1.5em;
  font-weight: 100;
}
.sl-login-container--forgot .sl-btn {
  margin-top: 2em;
}
.sl-login-container .sl-btn--primary {
  width: 100%;
  margin: 0 0 0 0;
  display: flex;
  justify-content: center;
}
.sl-login-container .sl-btn--secondary {
  width: 100%;
  margin: 0 0 0 0;
  display: flex;
  justify-content: center;
}
input:-internal-autofill-previewed,
input:-internal-autofill-selected,
textarea:-internal-autofill-previewed,
textarea:-internal-autofill-selected,
select:-internal-autofill-previewed,
select:-internal-autofill-selected {
  background-color: #e5f0f9 !important;
  background-image: none !important;
  color: #000000 !important;
}
::selection {
  background: #4c96d7;
  /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #4c96d7;
  /* Gecko Browsers */
}
.container--contactus .sl-signup-header {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1em;
}
.container--contactus textarea {
  height: 100px;
}
.container--contactus .sl-btn {
  margin: 0 0 0 0;
}
